
<div class="row mt-3">
  <div class="col-md-3">
    <div class="mb-5">
      <h4><i class="bi bi-card-list"></i> Category list</h4>
    <div class="list-group mt-3">
      <span (click)="searchByCategory(item.id)" class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let item of categories">
        <a class="text-decoration-none" [routerLink]="['/anonymous/signup/studentsignup']">{{item.name}}</a>
        <span class="badge bg-primary rounded-pill">9</span>
      </span>
    </div>
    </div>

    <div>
      <h4><i class="bi bi-people-fill"></i> Teacher List</h4>
    <div class="list-group">
      <span (click)="searchByCategory(item.id)" class="list-group-item" *ngFor="let item of categories">
        <a class="text-decoration-none" [routerLink]="['/anonymous/signup/studentsignup']">{{item.name}}</a>
      </span>
    </div>
    </div>
  </div>

  <div class="col-md-9">
   <div class="row">
    <div class="mb-3">
      <form [formGroup]="searchForm" class="card-body">

        <div class="row mb-2">
          <div class="col-6">
            <input formControlName="keyword" type="text" placeholder="Search Keyword" class="form-control">
          </div>
          <div class="col-4">
            <button (click)="search()" class="btn btn-outline-primary">
              <i class="bi bi-search"></i> Search
            </button>
          </div>
        </div>
      </form>
    </div>
   </div>

    <div class="mt-2">
      <div class="row" *ngFor="let item of courseList">
        <app-course-item [course]="item" (showDetailsListener)="showDetails($event)" ></app-course-item>
      </div>
    </div>
    </div>
</div>

