<!-- <div class="row me-4">
  <div class="col-8">
    <div class="d-flex">
      <input
        type="text"
        placeholder="search"
        class="border border-info rounded-1"
        style="width: 50%"
      />
      <button class="btn btn-info btn-sm">
        <i class="bi bi-search">Search</i>
      </button>
    </div>
  </div>
  <div class="col-4">
    <div class="px-3">
      <button
        [routerLink]="['/admin/create-category']"
        class="btn btn-info btn-sm rounded-1 shadow float-end"
      >
        <i class="bi bi-plus-circle"></i>Add Category
      </button>
    </div>
  </div>
</div> -->

<div class="row justify-content-center mt-4">
  <div class="col-md-4">
    <a
      routerLink="/admin/teacherlist"
      routerLinkActive="active"
      class="text-decoration-none"
    >
      <div
        class="shadow-sm border border-info rounded-1 p-3 text-center text-white bg-success flex-row-reverse"
        style="width: 12rem; height: 5rem"
      >
        <i class="bi bi-microsoft-teams"></i>
        <h5 class="card-title">Teacher List</h5>
      </div>
    </a>
  </div>
  <div class="col-md-4">
    <a [routerLink]="['/admin/studentlist']" class="text-decoration-none">
      <div
        class="shadow-sm border border-info rounded-1 p-3 bg-black text-white flex-row-reverse"
        style="width: 12rem; height: 5rem"
      >
        <i class="bi bi-person-fill-gear"></i>
        <h5 class="card-title">Student List</h5>
      </div>
    </a>
  </div>
  <div class="col-md-4">
    <div
      class="shadow-sm border border-info rounded-1 p-3 text-center text-white bg-info flex-row-reverse"
      style="width: 12rem; height: 5rem"
    >
      <i class="bi bi-card-list"></i>
      <h5 class="card-title">Course List</h5>
    </div>
  </div>
</div>

<!-- row-2  -->
<div class="row justify-content-center mt-4">
  <div class="col-md-4">
    <a
      routerLink="/admin/teacherlist"
      routerLinkActive="active"
      class="text-decoration-none"
    >
      <div
        class="shadow-sm border border-info rounded-1 p-3 text-center bg-warning text-white flex-row-reverse"
        style="width: 12rem; height: 5rem"
      >
        <i class="bi bi-gear-fill"></i>
        <h5 class="card-title">Categories</h5>
      </div>
    </a>
  </div>
  <div class="col-md-4">
    <a
      [routerLink]="['/admin/transitionstoteacher']"
      class="text-decoration-none"
    >
      <div
        class="shadow-sm border border-info rounded-1 p-3 text-center text-white bg-secondary flex-row-reverse"
        style="width: 12rem; height: 5rem"
      >
        <i class="bi bi-database"></i>
        <h5 class="card-title">Transitions</h5>
      </div>
    </a>
  </div>
  <div class="col-md-4">
    <div
      class="shadow-sm border border-info rounded-1 p-3 text-center bg-danger flex-row-reverse"
      style="width: 12rem; height: 5rem"
    >
      <i class="bi bi-gear"></i>
      <h5 class="card-title">Setting</h5>
    </div>
  </div>
</div>
