<!-- <div class="card mb-3 bg-secondary-subtle rounded-1">
  <div class="card-item">
    <h5 class="card-title text-center">{{course.name}}</h5>

    <p class="card- title text-center">Chat Kyi</p>


      <p class="card- title text-center">$40</p>
      <div class="card-footer d-flex justify-content-between">
        <a [routerLink]="['/anonymous/course-item']" class="btn btn-link">details</a>
      <button class="btn btn-outline-primary btn-sm">purchase</button>
      </div>
    </div>

    </div> -->
<div class="border-bottm shadow-sm">
  <div class="row justify-content-center">
    <h3 class="col-md-11 p-3 border-bottom">{{course.name}}</h3>
    </div>

  <div class="row bg-white-subtle mb-3">

    <div class="col-md-3">
      <img class="img-fluid w-100 card-img-top" [src]="course.image || '/assets/images/course-cover.jpg'" alt="">


    </div>
    <div class="col-md-7">
     <div class="row">
      <p class="fw-bold">Java SE Basic to Advance</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem molestiae in nam dolor laborum mollitia corrupti? Dolorum laboriosam doloribus aut quia ut odit eos debitis. Dignissimos, praesentium! Id, est exercitationem.</p>
     </div>
     <div class="row">
     <div class="d-flex justify-content-between">
      <p><span class="btn btn-sm btn-warning" style="height: 30px;">Price</span> : $150</p>
        <a href="" class="btn btn-sm btn-primary" style="height: 30px;">Details</a>

     </div>
     </div>
    </div>
    <div class="col-md-2">

      <div class="text-center">
        <p class="pe-3">4.5K</p>
      </div>
        <div class="d-flex text-warning justify-content-evenly">
          <i class="bi bi-star"></i>
          <i class="bi bi-star"></i>
          <i class="bi bi-star"></i>
          <i class="bi bi-star"></i>
          <i class="bi bi-star"></i>

        </div>
    </div>

  </div>
</div>




